@media screen and (max-width: 768px) {

    /* Navbar */
    .navbar {
        padding: 0 32px;
    }

    /* Banner Image */

    .item .content {
        margin: auto;
        text-align: center;
        position: relative;
        top: 96px;
        left: 0;
    }

    .slide .item:nth-child(3) {
        display: none;
    }

    .slide .item:nth-child(4) {
        display: none;
    }

    .slide .item:nth-child(5) {
        display: none;
    }

    .content .name {
        width: auto;
        margin: auto;
    }

    .slide .item:nth-child(1) {
        display: none;
    }

    .slide .item:nth-child(2) {
        width: 100%;
    }

    .container{
        width: 100%;
        position: relative;
        margin-top: 300px;
    }

    .background-banner-img{
        margin-top: -300px;
        height: auto;
    }


}