@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    scroll-behavior: smooth;
    
    
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    background: #b57edc;
    position: relative;
}


.logo img {
    width: 160px;
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    order: 2;
    z-index: 1000;
}

.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s ease;
}

.navbar-link {
    display: flex;
    gap: 40px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    order: 1;
}

.navbar-link a {
    text-decoration: none;
    color: white;
}

.navbar-link li {
    text-align: center;
}

.selected {
    border-bottom: 2px solid white;
    font-weight: 700;
}

.navbar-link a {
    transition: opacity 0.3s ease;
}

.navbar-link a.active {
    opacity: 1;
}

.navbar-link a:not(.active) {
    opacity: 1;
}

/* Banner Accueil */


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px white;
}

.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #5050503d;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3) {
    left: 50%;
}

.slide .item:nth-child(4) {
    left: calc(40% + 220px);
}

.slide .item:nth-child(5) {
    left: calc(30% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content {
    position: absolute;
    top: 50%;
    left: 140px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content {
    display: block;
}


.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    font-family: 'Dancing Script';
    font-weight: 400;
}

.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}


.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid white;
    transition: 0.3s;
    background: #b57edc;
}

.button i {
    color: white;
}

.button button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.button button:active {
    transform: scale(0.95);
}

a.my-button {
    background-color: #b57edc;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 45px;
    display: inline-block;
    transition: 0.3s;
}

a.my-button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

a.my-button:active {
    transform: scale(0.95);
}

/* Title Section */

.background-banner-img {
    background-color: white;
    height: 900px;
    width: auto;
    padding: 32px 32px 64px 32px;
    align-content: flex-end;
}

.title-page{
    margin: auto;
    width: auto;
    height: auto;
    font-family: 'Dancing Script';
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 128px;
    color: #b57edc;
}





/* Prestation */
#Prestation {
    background-color: red;
    height: 700px;
    width: auto;
    
}































/* Button Scroll to top */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b57edc;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s;
    animation: arrowBounce 2s infinite alternate;
    border: 1px solid white;
  }
  
  @keyframes arrowBounce {
    0% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(5px);
    }
  }
  
  #scrollToTopBtn:hover {
    opacity: 0.7;
    animation-play-state: paused;
  }